target/
classes/
.settings/
META-INF/
.idea
.project
.classpath
.mymetadata
*.class
/*.class
*.iml
path-develop.properties
/target
rebel.xml
.DS_Store
/test-output/
/.tern-project
/.idea
*.bak
.tgitconfig
logback-test.xml
/webapp/.tern-project
/out
/Users
